.page-header
  = link_to locations_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_location_path(@location), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show location

%dl.dl-horizontal
  %dt Path:
  %dd= @location.path
  %dt Host:
  %dd= @location.host
